<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title>Форма акта</title></head>
<body>
    <h2>Здравствуйте, {{ username }}!</h2>
    <a href="{{ url_for('logout') }}">Выйти</a> |
    <a href="{{ url_for('history') }}">История актов</a>
    <hr>
    <form method="post">
        <label>Номер акта:<br><input type="text" name="akt_number" style="width:400px;"></label><br><br>
        <label>Дата акта:<br><input type="text" name="akt_date" style="width:400px;"></label><br><br>
        <label>Объект:<br><input type="text" name="object_description" style="width:400px;"></label><br><br>
        <label>Подрядчик:<br><input type="text" name="contractor_name" style="width:400px;"></label><br><br>
        <button type="submit">Сформировать акт</button>
    </form>
</body>
</html>
